body {
  font-family: system-ui;
  background: linear-gradient(135deg,#020617,#0f172a);
  color: white;
  text-align: center;
}

.logo {
  font-size: 40px;
  margin: 30px;
  animation: glow 2s infinite alternate;
}

@keyframes glow {
  from { text-shadow: 0 0 10px #22c55e; }
  to { text-shadow: 0 0 25px #22c55e; }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,250px);
  gap: 25px;
  justify-content: center;
}

.card {
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(10px);
  padding: 15px;
  border-radius: 15px;
  transition: 0.3s;
  position: relative;
}

.card:hover {
  transform: translateY(-10px) scale(1.03);
}

.fade {
  animation: fadeUp 0.6s ease;
}

@keyframes fadeUp {
  from { opacity:0; transform:translateY(20px); }
  to { opacity:1; transform:translateY(0); }
}

img {
  width: 100%;
  border-radius: 10px;
}

.old {
  text-decoration: line-through;
  color: #ef4444;
}

.new {
  color: #22c55e;
  font-weight: bold;
  font-size: 20px;
}

.badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background: red;
  padding: 5px 8px;
  border-radius: 6px;
}

.wa {
  display: block;
  background: #22c55e;
  color: white;
  padding: 10px;
  border-radius: 8px;
  text-decoration: none;
  margin-top: 10px;
}

button {
  margin-top: 5px;
  padding: 6px 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  }
